/* components/layout/MainLayout.css */
.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar-container {
    width: 50px;
    flex-shrink: 0;  /* Prevents the sidebar from shrinking */
  }

  .sidebar2-container {
    width: 150px;
    flex-shrink: 0;  /* Prevents the sidebar from shrinking */
  }
  
  .main-content-container {
    flex-grow: 1;
    margin: 7vh 0 0 250px;
    padding: 0rem;
    overflow-y: auto;
  }
  